<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/contribuintes/listar'>
    <i class="fa fa-dollar-sign"></i>
  </a>
  <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#mainMenu"
    aria-controls="mainMenu" 
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainMenu" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/contribuintes/listar" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Contribuintes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contribuintes/novo" routerLinkActive="active" class="nav-link">Adicionar Contribuinte</a>
      </li>
      <li class="nav-item">
        <a routerLink="/salariominimo/editar" routerLinkActive="active" class="nav-link">Salário Mínimo</a>
      </li>
    </ul>
  </div>
</nav>