<div class="row">
  <div class="col-6 offset-3">
      <h2 class="mb-3">Salário Mínimo</h2>

      <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
          <div class="form-group">
              <label for="value">Valor atual do salário mínimo:</label>
              <input type="number"
                     id="value"
                     name="value" 
                     class="form-control" 
                     #value="ngModel" 
                     [(ngModel)]="basicWage.value"
                     required
                     min="1"
                     maxlength="6">
              <div *ngIf="value.touched && !value.valid" class="alert alert-danger">
                Digite um valor válido.
              </div>
          </div>
          
          <div class="row">
              <div class="col">
                  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Atualizar</button>
                  <button type="button" class="btn btn-danger float-right" (click)="cancel()">Cancelar</button>
              </div>
          </div>
      </form>

  </div>
</div>
